/* Reset */

:root {
  --width: 1000px;
  --primary-color: #ff4500;
  --bg-color: #fff;
}

ul {
  list-style: none;
}


/* Custom */

.nav-wrapper {
  padding: 0px 20px;
  margin: auto;
  max-width: var(--width);
}

nav {
  background-color: var(--bg-color);
}

nav li,
nav a {
  color: black !important;
  font-weight: 500;
}

a:hover {
  background-color: var(--bg-color) !important;
}

.wattpad-logo {
  padding: 0px 20px;
  vertical-align: middle;
  max-width: 200px;
}


/* Utility */

.no-shadows {
  box-shadow: none !important;
}