/* Reset */

:root {
  --width: 80rem;
  --primary-color: #ff4500;
  --bg-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Nunito", Georgia;
}

.no-shadows {
  box-shadow: none !important;
}