.story-cards-container {
  padding: 0;
  margin-bottom: 3rem;
}

.story-cards-container>h4 {
  padding: 0.5rem 1rem;
  font-family: 'Source Sans Pro';
  font-weight: bolder;
  letter-spacing: 0.2rem;
}

.stories-list {
  display: flex;
  align-items: center;
  justify-content: left;
  overflow: auto;
  padding: 0.5rem;
}

.stories-list::-webkit-scrollbar {
  display: none;
}

.story-card {
  margin-left: 1rem;
  margin-right: 4rem;
}

hr {
  background-color: #ddd;
  border: 1.5px solid #ddd;
  border-radius: 0.5rem;
}