/* Reset */

:root {
  --width: 80rem;
  --primary-color: #ff4500;
  --primary-color-dark: #d0370d;
  --bg-color: #fff;
}

@media only screen and (max-width:600px) {
   :root {
    --width: 100rem;
  }
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Nunito", Georgia, "Source Sans Pro";
}

.no-shadows {
  box-shadow: none !important;
}