.home-container {
  margin: auto;
  padding: 0 20px;
  max-width: var(--width);
}

.top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.top-title {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  align-items: center;
}

.top-title h1 {
  color: var(--primary-color);
  font-weight: 900;
  padding: 1rem;
}

.top-description {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 1rem;
}

.top-description h5 {
  color: black;
  font-weight: 600;
}

.top-description p {
  color: grey;
  font-weight: 500;
  font-size: 1.2rem;
}

.top-image {
  grid-column: 2/3;
  grid-row: 1/4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.top-image img {
  max-height: 100%;
  max-width: 100%;
}

.nested-top-buttons {
  padding: 1rem 0;
}

.btn-orange {
  z-index: 0;
  width: 11rem;
  color: white;
  margin: 0.5rem;
  text-transform: unset;
  letter-spacing: 0.1rem;
  border-radius: 5px;
  background: var(--primary-color);
}

.btn-orange:focus {
  background: var(--primary-color)
}

.btn-orange:hover {
  background: var(--primary-color-dark)
}


/* 600px or less */

@media only screen and (max-width:600px) {
  .home-container {
    padding: 0;
    text-align: center;
    justify-content: center;
  }
  .top {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .top-image {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .top-title {
    grid-column: 1/2;
    grid-row: 1/2;
    display: block;
    margin: auto;
  }
  .top-description {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .nested-top-buttons {
    justify-content: space-evenly;
  }
}