nav {
  z-index: 1;
  position: sticky;
  background-color: var(--bg-color);
}


.nav {
  margin: auto;
  padding: 0px 10px;
  max-width: var(--width);
}

.nav-item {
  margin: 0 1rem;
  font-weight: 600;
  color: black !important;
  cursor: pointer;
}

.nav-item:hover {
  background-color: var(--bg-color) !important;
}

.wattpad-logo {
  max-width: 10rem;
  vertical-align: middle;
}

@media only screen and (max-width:600px) {
  .wattpad-logo {
    display: none;
  }
}