* {
  color: black;
}

.story-cards-container {
  padding: 1rem;
  margin-bottom: 3rem;
}

.stories-list {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0.5rem;
}

.story-card {
  margin-left: 1rem;
  margin-right: 5rem;
}

hr {
  background-color: #ddd;
  border: 1.5px solid #ddd;
  border-radius: 0.5rem;
}